body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    background-color: black;
}

/* Masque toutes les scrollbars du site */
body,
.main_container,
.project_container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

body::-webkit-scrollbar,
.main_container::-webkit-scrollbar,
.project_container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}