#text_overlay_container_left {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 50%;
    z-index: 999;
    padding: 3px;
    font-size: 18px;
    color: black;
}

#text_overlay_container {
    position: fixed;
    top: 0;
    left: 50%;
    height: auto;
    width: 50%;
    /* background: white; */
    z-index: 999;
    padding: 3px;
    font-size: 18px;
    color: white;
    /* mix-blend-mode: difference; */
    background-color: rgba(204, 204, 204, 0.606);
    color: black;
}

.highlight {
    /* color: yellow; */
}

.word {
    display: inline;
}

.char {
    display: inline;
}

html,
body {
    cursor: pointer;
}