#toper {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    /* background: white; */
    z-index: 999;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    font-size: 14px;
    font-weight: bold;
    /* border-bottom: 1px solid #ccc; */
    color: white;
    /* important pour bien réagir au mode de fusion */
    mix-blend-mode: difference
}

#text_overlay_container {
    position: fixed;
    top: 0;
    left: 50%;
    height: auto;
    width: 50%;
    /* background: white; */
    z-index: 999;
    padding: 3px;
    font-size: 14px;
    color: white;
    /* mix-blend-mode: difference; */
    opacity: 50%;
    background-color: rgb(204, 204, 204);
    color: black;
}

.highlight {
    color: yellow;
    display: inline;
}
